html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f9f9f9;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;   /* centers all content */
  padding: 20px;
}
